@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,400&display=swap');

h1 {
    text-align: center;
}

#posts {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}