@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-size: 45px;

h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#board {
    display: grid;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#clueAndOptions {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.letterbox {
    position: relative;
    background-color: white;
    border: 1px solid black;
    width: $font-size;
    height: $font-size;
    font-size: $font-size;
    &.active {
        background-color: lightblue;
    }
    &.incorrect {
        border: 1px solid darkred;
        background-color: rgb(255, 208, 203);
    }
    &.invisible {
        border: 1px solid transparent;
        background-color: transparent;
    }
    &.filled {
        border: 1px solid black;
        background-color: black;
    }

    input {
        width: $font-size;
        height: $font-size;
        font-size: $font-size;
        padding: 0;
        margin: none;
        border: none;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        background-color: transparent;
    }

    span {
        position: absolute;
        top: 0;
        left: 1px;
        font-size: 9px;
        pointer-events: none;
    }
}

#clues {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    h2 {
        text-align: center;
    }
    border: 5px solid black;
    border-radius: 5px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px;
}

#clueHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.clue-holder {
    display: flex;
    flex-direction: column;
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    button {
        font-size: 20px;
        cursor: pointer;
        padding: 10px;
        border: none;
        font-family: 'Open Sans', sans-serif;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
        &:hover {
            background-color: lightblue;
        }
        &:first-child {
            border-left: 2px solid black;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child {
            border-right: 2px solid black;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}

#confettiCanvas {
    display: block;
    z-index: 1;
    pointer-events: none;
    position: fixed;
    top: 0
}

#currClue  {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: none;
}
.clue-viewer {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    span {
        margin-right: 10px;
        &::after {
            content: ".";
        }
    }
    p {
        margin: 0;
        padding: 0;
    }
    &.disabled {
        p {
            text-decoration: line-through 2px black;
        }
    }
    &.selected {
        background-color: lightblue;
    }
}

.referenced {
    background-color: #ffec95;
}

#root {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media only screen
and (max-device-width: 1200px) {
    #currClue {
        display: inherit;
    }
}