h1 {
  font-family: 'Dancing Script';
  background: #a8ff78;  /* fallback for old browsers */
  background: linear-gradient(to right, #0575E6, #78ffd6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: transparent;
  background-clip: text;
  padding-right: 5px;
  width: fit-content;
  transition-property: background-position-x;
  transition-duration: 1s;
  background-position-x: 0px;
  &.moved {
    background-position-x: 435px;
  }
  &.linnea,
  &.linnea.moved {
    background-position: 0px;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
  }
}

#splash {
  background: linear-gradient(#70f7eb, #28cfc1);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid black;

  & > img {
    border-radius: 50%;
    margin: 10px;
    max-width: 512px;
  }
  & > #splashIntro {
    background-color: black;
    color: white;
    height: fit-content;
    padding: 20px;
    margin: 10px;
    position: relative;
    max-width: 768px;
    z-index: 1;

    &::after,
    &::before {
      background: inherit;
      bottom: 0;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(-2.5deg);
      transform-origin: 100%;
      z-index: -1;
    }
    &::before {
      transform-origin: 0 0;
      top: 0;
    }
  }
}

#passwordMarker svg {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
  &:hover {
    opacity: 1;
  }
}

#navBar {
  display: block;
  margin: 0;
  width: fit-content;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  translate: 0px -24px;
  position: relative;
  z-index: 2;
  & > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 0;
    margin: 0;

    & li {
      display: inline-block;
      border: 1px solid white;
      &:hover {
        background-color: #232327;
      }

      &:first-child {
        border-left: 2px solid white;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      
      &:last-child {
        border-right: 2px solid white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    & a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
    & button {
      color: white;
      background-color: transparent;
      text-decoration: none;
      display: block;
      padding: 10px;
      border: none;
      cursor: pointer;
      font-size: 24px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

#mainBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#aboutMe {
  max-width: 768px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
#plan {
  display: none;
}

.about-section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  & > p {
    margin-left: 10px;
  }

  & .about-icon {
    width: 100px;
    height: 100px;
    font-size: xx-large;
  }
  &.linnea {
    z-index: 2;
    background-color: #232327;
    position: relative;
    &:nth-child(2n),
    &:nth-child(2n-1) {
      & .about-icon {
        order: 1;
        padding-right: 20px;
        padding-left: 0;
      }
      & > p {
        order: 2;
      }
    }
  }
  &:nth-child(2n-1) {
    & .about-icon {
      order: 1;
      padding-right: 20px;
    }
    & > p {
      order: 2;
    }
  }
  &:nth-child(2n) {
    & .about-icon {
      order: 2;
      padding-left: 20px;
    }
    & > p {
      order: 1;
    }
  }
}

#aboutEE {
  color: #ffeea0;
}

#aboutRun {
  color: #e77c7c;
}

#aboutTravel {
  --fa-primary-color: #7bdd7b;
  --fa-secondary-color: #0071f0;
}

#aboutGame {
  color: #236bc4;
}

footer {
  text-align: center;
}

#connectors {
  font-size: 2em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  & .fa-github {
    color: white;
  }
  & .fa-facebook-f {
    color: #1878f1;
  }
  & .fa-strava {
    color: #ff4b00;
  }
  & .fa-telegram {
    color: #0088cc;
  }
  & > * {
    padding: 10px;
  }
}

@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 560px) { 
    #navBar {
      translate: none;
      height: initial;
      width: 100%;
      & > ul {
        flex-direction: column;
        width: initial;
        border-radius: 0;
        text-align: center;

        & li {
          &:first-child {
            border-radius: 0;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
          }
          &:last-child {
            border-radius: 0;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
          }
        }
      }
    }

    #splash {
      flex-direction: column;

      & > img {
        max-width: 90vw;
      }
    }

    #aboutMe {
      padding: 20px;
      margin-left: auto;
      margin-right: auto;
      max-width: unset;
    }

    .about-section {
      flex-direction: column;
      justify-content: center;

      & .about-icon.about-icon {
        width: 200px;
        height: 200px;
        font-size: 80px;
        padding-left: 0;
        padding-right: 0;
        order: 0;
      }
    }
}

#password {
  padding: 5px;
  border-radius: 5px;

}

#valentineDay {
  display: none;
  p {
    cursor: pointer;
  }
  ul {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    &.shown {
      opacity: 1.0;
    }
  }
}