.book-row {
    padding: 10px;
    border: 4px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 768px;
    margin: 20px;
    img {
        border: none;
        border-radius: 5px;
        margin: 10px;
        width: 256px;
    }
    &:hover {
        background-color: rgb(189, 189, 189);
    }
}

#bookRecords {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    font-size: 16px;
    padding: 10px;
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

h1 {
    margin-bottom: 0;
}

.subtitle {
    padding-top: 0;
    margin-top: 0;
    font-style: italic;
}